<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwx.mapper.OperateLogMapper">


    <select id="list" resultType="com.wwx.pojo.OperateLog">
        SELECT * FROM operate_log 

            AND operate_user = #{userId}

        ORDER BY operate_time DESC
    </select>
    
</mapper>